.container{
background-color: lightgrey;
margin: 10px auto;
width: 80%;
padding: 20px;
}

.div1{
	text-align: left;
}
.div2{
	text-align: right;
}
.div3{
text-align: justify;
margin-right: 0;
}
.div4{
	text-align: justify;
margin-right: 0;
}


}


}
.Prekinis zenklas button{
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    background-color: darkgrey;
}
.katalogas button{
    border-radius: 20px;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    background-color: darkgrey;
}
.button1,2,3{
	border-radius: 20px;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    background-color: darkgrey;
}
.camera{
font-size: 300px;
}

.button {
    height: 40px;
    width: 90px;
}
.container2{

	background-color: lightgrey;
	margin: 10px auto;
    width: 80%;
   padding: 20px;
}
.container3{
columns: 2;
}
   
.section {
  display: grid;
  justify-content: center;
  align-content: center;
  gap: 30px;
  grid-auto-flow: column;
  border: 4px;
  border-color: black;
border: 1px solid black;
}
.nav{
	background-color: lightgrey;
	columns: 5;
}



.col{
display: flex;
columns: 2;
}


.col2{
grid-row: 2;
}

.line{
	border-color: 50px grey;
	width: 50%;
}
.footer{
	background-color: lightgrey;
margin: 10px auto;
width: 80%;
padding: 20px;
column-count: 5;
}
.button Siųsti{
background-color: darkgrey;
}
